# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Infenia Private Limited

.git
.gitignore
.gradle
build
.idea
*.iml
node_modules
*.log
.DS_Store
docs
README.md
.env
.env.local
pnpm-lock.yaml
ui/pnpm-lock.yaml
package.json
ui/package.json
.pnpm-store
.pnpm
