@import "tailwindcss";

@theme {
  --color-primary: #3c83f6;
  --color-background-light: #f5f7f8;
  --color-background-dark: #0f172a;

  --font-display: "DM Sans", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "DM Sans", sans-serif;

  --radius-DEFAULT: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;
}
